@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: #52ffa8;
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}
body{
    background-color: var(--Dark-Blue);
    font-family: 'Manrope', sans-serif;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.adviceBox{
    background-color: var(--Dark-Grayish-Blue);
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    padding: 3rem;
    line-height: 2rem;
}
.adviceBox img{
    width: 335px;
}

.adviceBox span{
    color: var(--Neon-Green);
    font-size: 0.75rem;
    font-weight:500 ;
    letter-spacing: 0.25rem;
}
.adviceBox p{
    color: var(--Light-Cyan);
    font-weight: 800;
    font-size: 1.75rem;
}
.icon{
    cursor: pointer;
    background-color: var(--Neon-Green);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ;
    margin: -23px;
    z-index: 1;
}
.icon:hover{
    box-shadow: 0px 0px 30px 0px var(--Neon-Green);
}
